* {
    box-sizing: inherit;
}

:root {
    --primary--color: #EE4D2D;
    --white-color: white;
    --black-color: black;
    --text-color: #333;
    --header-height: 120px;
    --navbar-height: 34px;
    --header-with-search-height: calc(var(--header-height) - var(--navbar-height));
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    background-color: #f5f5f5;
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
    -webkit-user-drag: none;
}

.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width {
    width: 100%;
}


.grid__row {
    display: flex;
    flex-wrap: wrap;
}

.mlr-8 {
    margin: 0 8px;
}

/* animation */

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}